@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

:root {
    --font-family: 'Playwrite NZ Basic', cursive;
    --font-formal: sans-serif;
    --bg-color: #191A21;
    --span-color: #76787E;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("./assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    width: 90vw;
    background-color: var(--bg-color);
    border-radius: 20px;
    color: white;
    font-family: var(--font-family);
}

aside.sidebar{
    height: 100%;
    width: 15%;
    border-right: 2px outset gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding-left: 10%;

    li {
        list-style: none;
        margin-bottom: 10px;
    }

    a {
        font-size: 0.9rem;
        text-decoration: none;
        color: var(--span-color);
        font-family: var(--font-family);
    }
    a.active {
        color: white;
        font-size: 0.95rem;
    }
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50%;
    margin: 0;

    h1 {
        font-size: 1rem;
        font-family: var(--font-formal);
        margin: 0;
    }
    span {
        color: var(--span-color);
        font-family: var(--font-formal);
        font-size: 0.8rem;
    }
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 50%;
    width: 100%;

    button {
        border-radius: 50%;
        border: 1px solid;
        background-color: transparent;
        color: white;
        font-size: 0.8rem;
        font-family: var(--font-family);
        width: 40px;
        height: 40px;
        transition: all 0.6s ease;
    }

    button:hover {
        background-color: white;
        color: black;
        border: none;
        cursor: pointer;
    }
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70%;
    align-items: center;
    width: 100%;
    height: 8vh;
    margin-top: 3vh;

    h1 {
        padding-left: 5%;
        font-size: 1.5rem;
        font-family: var(--font-family);    
        margin: 0;
    }
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 5%;
    gap: 20px;
    width: 30%;
    height: 8vh;

    i{
        border-radius: 50%;
        border: 1px solid var(--span-color);
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: all 0.3s ease;
    }

    i:hover {
        background-color: white;
        color: black;
        border-color: white;
        cursor: pointer;
    }
    #i-border-white {
        border-color: white;
    }
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.emphasis-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 50%;
    border-radius: 20px;
    border: 1px solid var(--span-color);

    img {
        background-color: white;
        width: 97%;
        height: 70%;
        object-fit: contain;
        border-radius: 20px;
        margin-top: 1.5%;
    }

    .emphasis-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 4%;
        padding-left: 2%;
        padding-right: 2%;
        width: 93%;
        height: 30%;

        h1 {
            font-size: 1.2rem;
            font-family: var(--font-formal);
            margin: 0;
        }
    }

    span {
        color: var(--span-color);
        font-size: 0.8rem;
        font-family: var(--font-formal);
        align-self: flex-start;
        padding-left: 4%;
        transform: translateY(-100%);
    }
}